<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_ai_training2.domain.mapper.SpringAiMapper">
    <insert id="insertMessage">
        INSERT INTO chat (user_id, content, type)
        VALUES (#{dto.userId}, #{dto.content}, #{dto.type})
    </insert>
    <select id="showHistory" resultType="com.example.spring_ai_training2.domain.entity.Chat">
        select * from Chat
    </select>

</mapper>